$colors: (
    'text': (
        'text-1': #fff,
        'text-2': #0F0D0D,
        'text-3': #5B5D61,
        'text-4': #1E90FF,
    ),
    'bg': (
        'bg-1':#fff,
        'bg-2':#0F0D0D,
        'bg-3':#1E90FF,
        'bg-4':#F4F4F9,
    ),
    'border': (
        'border-1': #E5E7EB,
        'border-2': #dfdcdc,
    )
);

