@use '../../utils/' as * ;

/*============= CHOOSE CSS AREA STARTS ===============*/
.choose1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .choose-heading {
        padding: 0 50px 0 0;
        @media #{$xs} {
            padding: 0;
            margin-bottom: 30px;
        }
        @media #{$md} {
            padding: 0;
            margin-bottom: 30px;
        }
        @media #{$lg} {
            padding: 0;
            margin-bottom: 30px;
        }
        .choose-boxarea {
            .icons {
                height: 48px;
                width: 48px;
                text-align: center;
                line-height: 48px;
                display: inline-block;
                transition: all .4s;
                background: var(--ztc-bg-bg-4);
                position: absolute;
                border-radius: 8px;
            }
            .content-area {
                padding-left: 64px;
                a {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 30px;
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }      
                }
            }
        }
    }
    .choose-images-area {
        position: relative;
        z-index: 1;
        .elements10 {
            position: absolute;
            right: 0;
            top: 60px;
        }
        .img1 {
            position: relative;
            z-index: 1;
            img {
                border-radius: 8px;
                 @media #{$lg} {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .img2 {
            position: relative;
            margin-top: -248px;
            z-index: 2;
            @media #{$xs} {
                margin-top: 30px;
            }
            img {
                border-radius: 8px;
            }
        }
    }
}

// Homepage 03 //
.choose3 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .choose-heading {
        padding: 0 50px 0 0;
        @media #{$xs} {
            padding: 0;
            margin-bottom: 30px;
        }

        @media #{$md} {
            padding: 0;
            margin-bottom: 30px;
        }
        @media #{$lg} {
            padding: 0;
            margin-bottom: 30px;
        }
        .choose-boxarea {
            border: 1px solid #DCDCDC;
            border-radius: 8px;
            padding: 24px;
            margin-top: 30px;
            transition: all .4s;
            &:hover {
                background: var(--ztc-bg-bg-4);
                transition: all .4s;
                .icons {
                    background: var(--ztc-bg-bg-1);
                    transition: all .4s;
                }
            }
            .icons {
                height: 48px;
                width: 48px;
                text-align: center;
                line-height: 48px;
                display: inline-block;
                transition: all .4s;
                background: var(--ztc-bg-bg-4);
                position: relative;
                border-radius: 8px;
            }
            .content-area {
                a {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 30px;
                    transition: all .4s;
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }      
                }
            }
        }
    }
    .choose-images-area {
        position: relative;
        z-index: 1;
        .elements10 {
            position: absolute;
            right: 0;
            top: 60px;
            filter: brightness(0.5);
        }
        .img1 {
            position: relative;
            z-index: 1;
            img {
                border-radius: 8px;
                @media #{$lg} {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;  
                }
            }
        }
        .img2 {
            position: relative;
            margin-top: -200px;
            @media #{$xs} {
                margin-top: 30px;
            }
            @media #{$lg} {
                margin-top: 30px;
            }
            img {
                border-radius: 8px;
                @media #{$lg} {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;  
                }
            }
        }
        .experiance-box {
            background: var(--ztc-bg-bg-3);
            display: inline-block;
            border-radius: 8px;
            padding: 32px 18px;
            text-align: center;
            position: absolute;
            bottom: 0;
            h3 {
                color: var(--ztc-text-text-1);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s44);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 44px;
            }
            p {
                color: rgba(255, 255, 255, 0.90);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 22px;
            }
        }
    }
}

// Homepage 04 //
.choose4 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .choose-heading {
        @media #{$xs} {
            padding: 0;
            margin-bottom: 30px;
        }

        @media #{$md} {
            padding: 0;
            margin-bottom: 30px;
        }
        .choose-boxarea {
            .icons {
                height: 48px;
                width: 48px;
                text-align: center;
                line-height: 48px;
                display: inline-block;
                transition: all .4s;
                background: var(--ztc-bg-bg-4);
                position: absolute;
                border-radius: 8px;
            }
            .content-area {
                padding-left: 64px;
                a {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 30px;
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }      
                }
            }
        }
    }
    .choose-images-area {
        position: relative;
        z-index: 1;
        .elements26 {
            position: absolute;
            left: 50%;
            top: 0;
            margin-left: -200px;
        }
        .img1 {
            position: relative;
            z-index: 1;
            img {
                border-radius: 8px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

// Homepage 05 //
.choose5 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .heading1 {
        padding: 0 40px 0 0;
        @media #{$xs} {
            padding: 0;
            margin-bottom: 30px;
        }
        @media #{$md} {
            padding: 0;
            margin-bottom: 30px;
        }
        @media #{$lg} {
            padding: 0;
            margin-bottom: 30px;
        }
    }
    .images {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

// Inner Pages //
.choose1-inner-widget {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .choose-heading {
        padding: 0 50px 0 0;
        @media #{$xs} {
            padding: 0;
            margin-bottom: 30px;
        }

        @media #{$md} {
            padding: 0;
            margin-bottom: 30px;
        }
         @media #{$lg} {
            padding: 0;
            margin-bottom: 30px;
        }
        .choose-boxarea {
            .icons {
                height: 48px;
                width: 48px;
                text-align: center;
                line-height: 48px;
                display: inline-block;
                transition: all .4s;
                background: var(--ztc-bg-bg-4);
                position: absolute;
                border-radius: 8px;
                 clip-path: polygon(
                    50% 0%,
                    93% 25%,
                    93% 75%,
                    50% 100%,
                    7% 75%,
                    7% 25%
                );
            }
            .content-area {
                padding-left: 64px;
                a {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 30px;
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }      
                }
            }
        }
    }
    .choose-images-area {
        position: relative;
        z-index: 1;
        .elements10 {
            position: absolute;
            right: 0;
            top: 60px;
        }
        .img1 {
            position: relative;
            z-index: 1;
            img {
                border-radius: 8px;
                @media #{$lg} {
                width: 100%;
                height: 100%;
                object-fit: cover;
                }
            }
        }
        .img2 {
            position: relative;
            margin-top: -248px;
            @media #{$xs} {
                margin-top: 30px;
            }
            @media #{$lg} {
                margin-top: 30px;
            }
            img {
                border-radius: 8px;
                @media #{$lg} {
                width: 100%;
                height: 100%;
                object-fit: cover;
                }
            }
        }
    }
}
/*============= CHOOSECSS AREA ENDS ===============*/