@use '../../utils/' as * ;

/*============= CONTACT CSS AREA ===============*/
.contact1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .contact-widget-area {
            h4 {
                color: var(--ztc-text-text-2);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s24);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 24px;
            }
            p {
                color: var(--ztc-text-text-3);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 24px;
            }
        .contact-boxarea {
            position: relative;
            z-index: 1;
            .input-area {
                margin-top: 20px;
                input {
                    color: var(--ztc-text-text-2);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                    background: var(--ztc-bg-bg-4);
                    border-radius: 4px;
                    padding: 18px 16px;
                    width: 100%;
                    border-radius: 8px;
                    border: 1px solid var(--STOK-COLOR, #DCDCDC);
                    &::placeholder {
                        color: var(--ztc-text-text-3);
                        font-family:var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s18);
                        font-style: normal;
                        font-weight: var(--ztc-weight-regular);
                        line-height: 18px; 
                    } 
                }
                .nice-select {
                    color: var(--ztc-text-text-3);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                    background: var(--ztc-bg-bg-4);
                    border-radius: 4px;
                    padding: 18px 16px;
                    width: 100%;
                    height: auto;
                    box-shadow: none;
                    border-radius: 8px;
                    border: 1px solid var(--STOK-COLOR, #DCDCDC);
                    &::after {
                        height: 7px;
                        width: 7px;
                        right: 16px;
                    }
                    ul {
                        width: 100%;
                    }
                }

                textarea {
                    color: var(--ztc-text-text-2);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                    background: var(--ztc-bg-bg-4);
                    border-radius: 4px;
                    padding: 18px 16px;
                    width: 100%;
                    height: 170px;
                    border-radius: 8px;
                    border: 1px solid var(--STOK-COLOR, #DCDCDC);
                    &::placeholder {
                        color: var(--ztc-text-text-3);
                        font-family:var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s18);
                        font-style: normal;
                        font-weight: var(--ztc-weight-regular);
                        line-height: 18px; 
                    } 
                }
                button {
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .contact-maps-area {
        iframe {
            width: 100%;
            border-radius: 8px;
            height: 525px;
            @media #{$xs} {
                height: 300px;
                margin-bottom: 30px;
            }
            @media #{$md} {
                height: 400px;
                margin-bottom: 30px;
            }
            @media #{$lg} {
                height: 400px;
                margin-bottom: 30px;
            }
        }
    }
}

// Homepage 5 //
.contact2 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--ztc-bg-bg-4);
    .contact-widget-area {
            h4 {
                color: var(--ztc-text-text-2);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s24);
                font-style: normal;
                font-weight: var(--ztc-weight-bold);
                line-height: 24px;
            }
            p {
                color: var(--ztc-text-text-3);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 24px;
            }
        .contact-boxarea {
            position: relative;
            z-index: 1;
            .input-area {
                margin-top: 20px;
                input {
                    color: var(--ztc-text-text-2);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                    background: var(--ztc-bg-bg-1);
                    border-radius: 4px;
                    padding: 18px 16px;
                    width: 100%;
                    border-radius: 8px;
                    border: 1px solid var(--STOK-COLOR, #DCDCDC);
                    &::placeholder {
                        color: var(--ztc-text-text-3);
                        font-family:var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s18);
                        font-style: normal;
                        font-weight: var(--ztc-weight-regular);
                        line-height: 18px; 
                    } 
                }
                .nice-select {
                    color: var(--ztc-text-text-3);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                    background: var(--ztc-bg-bg-1);
                    border-radius: 4px;
                    padding: 18px 16px;
                    width: 100%;
                    height: auto;
                    box-shadow: none;
                    border-radius: 8px;
                    border: 1px solid var(--STOK-COLOR, #DCDCDC);
                    &::after {
                        height: 7px;
                        width: 7px;
                        right: 16px;
                    }
                    ul {
                        width: 100%;
                    }
                }

                textarea {
                    color: var(--ztc-text-text-2);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                    background: var(--ztc-bg-bg-1);
                    border-radius: 4px;
                    padding: 18px 16px;
                    width: 100%;
                    height: 170px;
                    border-radius: 8px;
                    border: 1px solid var(--STOK-COLOR, #DCDCDC);
                    &::placeholder {
                        color: var(--ztc-text-text-3);
                        font-family:var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s18);
                        font-style: normal;
                        font-weight: var(--ztc-weight-regular);
                        line-height: 18px; 
                    } 
                }
                button {
                    border: none;
                    outline: none;
                }
            }
        }
    }
    .contact-maps-area {
        iframe {
            width: 100%;
            border-radius: 8px;
            height: 525px;
            @media #{$xs} {
                height: 300px;
                margin-bottom: 30px;
            }
            @media #{$md} {
                height: 400px;
                margin-bottom: 30px;
            }
            @media #{$lg} {
                height: 400px;
                margin-bottom: 30px;
            }
        }
    }
}

// Inner Pages //
.contact-widget-sec {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.contact-widget-box {
    background: var(--ztc-bg-bg-4);
    position: relative;
    z-index: 1;
    border-radius: 8px;
    padding: 30px;
    p {
        color: var(--ztc-text-text-3);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 24px;
        transition: all .4s;
    }
}
.contact-widget-small {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--ztc-bg-bg-1);
    border-radius: 8px;
    padding: 24px;
    margin-top: 24px;
    height: 204px;
    .icons {
        height: 48px;
        width: 48px;
        display: inline-block;
        border-radius: 8px;
        background: var(--ztc-bg-bg-3);
        line-height: 48px;
        text-align: center;
        transition: all .4s;
    }
    h5 {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s24);
        font-style: normal;
        font-weight: var(--ztc-weight-bold);
        line-height: 24px;
    }
    a {
        color: var(--ztc-text-text-3);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 24px;
        display: inline-block;
        transition: all .4s;
        &:hover {
            color: var(--ztc-text-text-4);
            transition: all .4s;
        }
    }
    ul {
        li {
            display: inline-block;
            a {
                height: 46px;
                width: 46px;
                display: inline-block;
                transition: all .4s;
                line-height: 46px;
                border-radius: 50%;
                text-align: center;
                background: var(--ztc-bg-bg-4);
                color: var(--ztc-text-text-2);
                font-size: var(--ztc-font-size-font-s18);
            }
        }
    }
}


.contact-widget-area-inner {
    background: var(--ztc-bg-bg-4);
    border-radius: 8px;
    padding: 30px;
    h4 {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s24);
        font-style: normal;
        font-weight: var(--ztc-weight-bold);
        line-height: 24px;
    }
    p {
        color: var(--ztc-text-text-3);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 24px;
    }
    .contact-boxarea {
        position: relative;
        z-index: 1;
        .input-area {
            margin-top: 20px;
            input {
                color: var(--ztc-text-text-2);
                font-family:var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 18px; 
                background: var(--ztc-bg-bg-1);
                border-radius: 4px;
                padding: 18px 16px;
                width: 100%;
                border-radius: 8px;
                &::placeholder {
                    color: var(--ztc-text-text-3);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                } 
            }
            .nice-select {
                color: var(--ztc-text-text-3);
                font-family:var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 18px; 
                background: var(--ztc-bg-bg-1);
                border-radius: 4px;
                padding: 18px 16px;
                width: 100%;
                height: auto;
                box-shadow: none;
                border-radius: 8px;
                &::after {
                    height: 7px;
                    width: 7px;
                    right: 16px;
                }
                ul {
                    width: 100%;
                }
            }

            textarea {
                color: var(--ztc-text-text-2);
                font-family:var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s18);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 18px; 
                background: var(--ztc-bg-bg-1);
                border-radius: 4px;
                padding: 18px 16px;
                width: 100%;
                height: 170px;
                border-radius: 8px;
                &::placeholder {
                    color: var(--ztc-text-text-3);
                    font-family:var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s18);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 18px; 
                } 
            }
            button {
                border: none;
                outline: none;
            }
        }
    }
}

.maps-widget-area {
    iframe {
        width: 100%;
        height: 660px;
        @media #{$xs} {
            height: 300px;
        }
         @media #{$md} {
            height: 400px;
        }
    }
}
/*============= CONTACT CSS AREA ENDS===============*/