@use '../../utils/' as * ;

/*============= OTHERS CSS AREA STARTS ===============*/

// preloader //
.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999999;
	background-color: var(--ztc-text-text-2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-container,
.loading{
	height: 140px;
	position: relative;
	width: 140px;
	border-radius: 100%;
}

.loading-container{
	margin: 40px auto
}

.loading{
	border: 1px solid transparent;
	border-color: transparent var(--ztc-text-text-4) transparent var(--ztc-text-text-4);
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}
.loading-container:hover .loading,
.loading-container .loading{
	transition: all 0.5s ease-in-out;
}

#loading-icon{
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-35%, -50%);
  height: 100px;
  width: 100px;
}

@keyframes rotate-loading{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}
//  Page Progress Area //
.progress-wrap {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    color: var(--ztc-text-text-1);
   }
   .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
   }
   .progress-wrap::after {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f062";
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    color: var(--ztc-text-text-2);
    left: 0;
    top: 0;
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap:hover::after {
    opacity: 0;
    color: var(--ztc-text-text-2);
   }
   .progress-wrap::before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f062";
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    opacity: 0;
    left: 0;
    top: 0;
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap:hover::before {
    opacity: 1;
    color: var(--ztc-text-text-2);
   }
   .progress-wrap svg path {
    fill: none;
   }
   .progress-wrap svg.progress-circle path {
    stroke: var(--ztc-text-text-2);
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
   }
  //  Page Progress Area //
/*============= OTHERS CSS AREA ENDS ===============*/

/*============= PRICING CSS AREA STARTS ===============*/
.pricing1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .pricing-box {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--ztc-bg-bg-1);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    &.active {
      background: var(--ztc-bg-bg-3);
      h3 {
        color: var(--ztc-text-text-1);
      }
      h2 {
        color: var(--ztc-text-text-1);
        span {
          color: var(--ztc-text-text-1);
        }
      }
      p {
        color: var(--ztc-text-text-1);
        opacity: 90%;
      }
      ul {
        li {
          color: var(--ztc-text-text-1);
        }
      }
      .bnt-area1 {
        .vl-btn1 {
          background: var(--ztc-bg-bg-1);
          color: var(--ztc-text-text-4);
        }
      }
    }
    h3 {
      color: var(--ztc-text-text-2);
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      font-style: normal;
      font-weight: var(--ztc-weight-bold);
      line-height: 20px;
    }
    h2 {
      color: var(--ztc-text-text-2);
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s44);
      font-style: normal;
      font-weight: var(--ztc-weight-bold);
      line-height: 44px;
      display: inline-block;
      span {
        color: var(--ztc-text-text-3);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 16px; 
        display: inline-block;
      }
    }
    p {
      color: var(--ztc-text-text-3);
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s16);
      font-style: normal;
      font-weight: var(--ztc-weight-regular);
      line-height: 24px;
      padding-bottom: 32px;
      border-bottom: 1px solid var(--ztc-bg-bg-4);
    }
    ul {
      li {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 16px; 
        display: inline-block;
        margin-top: 16px;
        svg {
          margin: -4px 8px 0 0;
        }
      }
    }
  }
}

.pricing-nner-widget {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .pricing-box {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: var(--ztc-bg-bg-4);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    &.active {
      background: var(--ztc-bg-bg-3);
      h3 {
        color: var(--ztc-text-text-1);
      }
      h2 {
        color: var(--ztc-text-text-1);
        span {
          color: var(--ztc-text-text-1);
        }
      }
      p {
        color: var(--ztc-text-text-1);
        opacity: 90%;
      }
      ul {
        li {
          color: var(--ztc-text-text-1);
        }
      }
      .bnt-area1 {
        .vl-btn1 {
          background: var(--ztc-bg-bg-1);
          color: var(--ztc-text-text-4);
        }
      }
    }
    h3 {
      color: var(--ztc-text-text-2);
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      font-style: normal;
      font-weight: var(--ztc-weight-bold);
      line-height: 20px;
    }
    h2 {
      color: var(--ztc-text-text-2);
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s44);
      font-style: normal;
      font-weight: var(--ztc-weight-bold);
      line-height: 44px;
      display: inline-block;
      span {
        color: var(--ztc-text-text-3);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 16px; 
        display: inline-block;
      }
    }
    p {
      color: var(--ztc-text-text-3);
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s16);
      font-style: normal;
      font-weight: var(--ztc-weight-regular);
      line-height: 24px;
      padding-bottom: 32px;
      border-bottom: 1px solid var(--ztc-bg-bg-4);
    }
    ul {
      li {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 16px; 
        display: inline-block;
        margin-top: 16px;
        svg {
          margin: -4px 8px 0 0;
        }
      }
    }
  }
}
/*============= PRICING CSS AREA ENDS ===============*/

/*============= OTHERS CSS AREA STARTS ===============*/
.apporch-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: var(--ztc-bg-bg-4);
  .heading1 {
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
    h3 {
      color: var(--ztc-text-text-2);
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s24);
      font-style: normal;
      font-weight: var(--ztc-weight-bold);
      line-height: 24px;    
    }
  }
  .images-app-area {
    position: relative;
    z-index: 1;
   .img2 {
    position: relative;
    left: 125px;
    margin-top: -130px;
    @media #{$xs} {
      left: 0;
      margin-top: 30px;
    }
   }
  }
}

.error-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .images {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}
/*============= OTHERS CSS AREA ENDS ===============*/

/*============= OTHERS CSS AREA ENDS ===============*/ 
.others1 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  .others-boxarea {
    text-align: center;
    border-radius: 8px;
    background: var(--ztc-bg-bg-1);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.13);
    padding: 30px;
    transition: all .4s;
    margin-bottom: 30px;
    &:hover {
      background: var(--ztc-bg-bg-3);
      transition: all .4s;
      transform: translateY(-10px);
      .icons {
        img {
          filter: brightness(0) invert(1);
          transition: all .4s;
        }
      }
      .title {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
    }
    .icons {
      margin-bottom: 24px;
      img {
        height: 60px;
        width: 60px;
        object-fit: contain;
        transition: all .4s;
      }
    }
    .title {
      color: var(--ztc-text-text-2);
      text-align: center;
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s24);
      font-style: normal;
      font-weight: var(--ztc-weight-bold);
      line-height: 32px;
      transition: all .4s;

    }
  }
}

// Homepage 02 //
.others2 {
  position: relative;
  z-index: 1;
  padding: 0 0 0 0;
  .others-boxarea {
    text-align: center;
    border-radius: 8px;
    background: var(--ztc-bg-bg-1);
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.13);
    padding: 30px;
    transition: all .4s;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    top: -100px;
    &:hover {
      background: var(--ztc-bg-bg-3);
      transition: all .4s;
      transform: translateY(-10px);
      .icons {
        img {
          filter: brightness(0) invert(1);
          transition: all .4s;
        }
      }
      .title {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
    }
    .icons {
      margin-bottom: 24px;
      img {
        height: 60px;
        width: 60px;
        object-fit: contain;
        transition: all .4s;
      }
    }
    .title {
      color: var(--ztc-text-text-2);
      text-align: center;
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s24);
      font-style: normal;
      font-weight: var(--ztc-weight-bold);
      line-height: 32px;
      transition: all .4s;

    }
  }
}


// Brand area //
.others-slider-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: var(--ztc-bg-bg-2);
  padding: 32px 0;
  .brand-slider-area {
    .slick-list {
      overflow: inherit !important;
    }
  }
}
/*============= OTHERS CSS AREA ENDS ===============*/

/*============= HEADER SEARCH CSS AREA STARTS ===============*/
.header-search-container form input {
    outline: none;
    border: none;
    background: none;
    font-family: var(--ztc-family-font1);
    font-weight: 500;
  }
  
  .header-search-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    z-index: 9999;
    background-color: var(--ztc-bg-bg-1);
    transform: translate3d(0, -100%, 0);
    transition: transform 0.85s cubic-bezier(0.175, 1, 0.275, 1), visibility 0.8s step-end;
  }
  
  .header-search-form-wrapper.open {
    transition: transform 0.85s cubic-bezier(0.175, 1, 0.275, 1), visibility 0.8s step-start;
    transform: translate3d(0, 0, 0);
  }
  
  .header-search-form-wrapper .search-form {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .header-search-form-wrapper .search-form input[type=search] {
    height: 65px;
    line-height: 65px;
    font-size: 28px;
    background-color: transparent;
    text-align: left;
    border: none;
    border-bottom: 1px solid #dddbdb;
    padding-left: 0;
    border-radius: 0;
    width: 100%;
    color: var(--ztc-text-text-2);
  }
  
  .header-search-form-wrapper .search-form input[type=search]::-moz-placeholder {
    color: #a4a4a4;
    opacity: 1;
  }
  
  .header-search-form-wrapper .search-form input[type=search]::placeholder {
    color: #a4a4a4;
    opacity: 1;
  }
  
  .header-search-form-wrapper .search-form input[type=search]:-ms-input-placeholder {
    color: #a4a4a4;
  }
  
  .header-search-form-wrapper .search-form input[type=search]::-ms-input-placeholder {
    color: #a4a4a4;
  }
  
  .header-search-form-wrapper .search-submit {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: #9F9F9F;
    font-size: 24px;
    border: none;
    color: #2B495A;
  }
  
  .header-search-form-wrapper .tx-search-close {
    background: rgba(204, 204, 204, 0.2705882353);
    width: 54px;
    height: 54px;
    border-width: 18px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
  }
  
  .header-search-form-wrapper .tx-search-close::before, .header-search-form-wrapper .tx-search-close::after {
    background-color: var(--ztc-bg-bg-2);
  }
  
  .header-search-container {
    width: 100%;
    height: 100%;
    max-width: 1170px;
    border: 0;
    padding: 0;
    background: 0 0;
    transform: translate3d(0, calc(100% - 100px), 0);
    transition: transform 0.85s cubic-bezier(0.175, 1, 0.275, 1);
    margin: auto;
    opacity: 0;
    visibility: hidden;
  }
  
  .header-search-form-wrapper.open .header-search-container {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }



// SIDEBAR //
.header-site-icon{
    .slide-bar.slide-bar{
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: var(--ztc-bg-bg-1);
        backdrop-filter: blur(1px);
        width: 450px;
        @media #{$xxl} {
          overflow-y: scroll; 
          height: 800px;
        }
        @media #{$xxxl} {
          overflow-y: scroll; 
          height: 800px;
        }
     .sidebar-info {
        .sidebar-logo {
            a {
                img{
                    height: 52px;
                    width: 130px;
                    object-fit: contain;
                    filter: brightness(0);
                }
            }
            .close-mobile-menu {
                a {
                    font-size: var(--ztc-font-size-font-s32);
                    height: 60px;
                    width: 60px;
                    text-align: center;
                    line-height: 60px;
                    display: inline-block;
                    background: var(--ztc-bg-bg-3);
                    cursor: pointer;
                    color: var(--ztc-text-text-1);
                }
            }
        }
     }
     .sidebar-content{
       p {
        display: inline-block;
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s18);
        line-height: var(--ztc-font-size-font-s26);
        font-weight: var(--ztc-weight-medium);
        color: var(--ztc-text-text-2);
        transition: $trans;
       }
     }
     .social-link-area{
       h3{
         font-family: var(--ztc-family-font1);
         font-size: var(--ztc-font-size-font-s24);
         font-weight: var(--ztc-weight-bold);
         color: var(--ztc-text-text-2);
         margin-bottom: 24px;
         line-height: var(--ztc-font-size-font-s34);
       }
       ul{
         li{
           a{
             height: 50px;
             width: 50px;
             text-align: center;
             line-height: 50px;
             border-radius: 50%;
             display: inline-block;
             font-size: var(--ztc-font-size-font-s20);
             margin: 0 6px 0 0;
             transition: $trans;
             background: var(--ztc-bg-bg-2);
             color: var(--ztc-text-text-1);
             &:hover{
               transition: $trans;
               transform: translateY(-5px);
               background: var(--ztc-bg-bg-3);
             }
           }
         }
       }
     }
   
     .form-area{
       h3{
         font-family: var(--ztc-family-font1);
         font-size: var(--ztc-font-size-font-s24);
         font-weight: var(--ztc-weight-bold);
         color: var(--ztc-text-text-2);
         margin-bottom: 24px;
         line-height: var(--ztc-font-size-font-s34);
       }
       form{
         border-radius: 8px;
         background: var(--ztc-bg-bg-1);
         box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.13);
         display: block;
         position: relative;
         border-radius: 4px;
         input{
             width: 100%;
             padding: 20px;
             border-radius: 4px;
             color: var(--ztc-text-text-1);
             font-family: var(--ztc-family-font1);
             &::placeholder{
                 font-family: var(--ztc-family-font1);
                 font-size: var(--ztc-font-size-font-s16);
                 font-weight:var(--ztc-weight-medium);
                 line-height:var(--ztc-font-size-font-s16);
                 color: var(--ztc-text-text-2);
                 opacity: 0.8;
             }
         }
         button{
             border: none;
             outline: none;
             position: absolute;
             top: 6px;
             right: 5px;
         }
     }
     }
    } 
}
/*============= HEADER SEARCH CSS AREA ENDS ===============*/
