@use '../../utils/' as * ;

/*============= PROEJCTS CSS AREA STARTS ===============*/
.project1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    .project-slider-area {
        .slick-list {
            overflow: inherit !important;
        }
        .projects-boxes-area {
            position: relative;
            z-index: 1;
            margin: 0 10px;
            &.slick-slide.slick-current.slick-active {
                .contain-main-area {
                    visibility: visible;
                    opacity: 1;
                    transition: all .6s;
                }
                .img1 {
                    img {
                        transform: scale(1.1) rotate(-4deg);
                        transition: all .4s;
                    }
                }
            }
            &:hover {
                .contain-main-area {
                    visibility: visible;
                    opacity: 1;
                    transition: all .6s;
                }
                .img1 {
                    img {
                        transform: scale(1.1) rotate(-4deg);
                        transition: all .4s;
                    }
                }
            }
            .img1 {
                position: relative;
                z-index: 1;
                overflow: hidden;
                border-radius: 8px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                    transition: all .4s;
                }
            }
            .contain-main-area {
                position: relative;
                z-index: 1;
                transition: all .6s;
                visibility: hidden;
                opacity: 0;
                .arrow {
                    a {
                        width: 38px;
                        height: 38px;
                        text-align: center;
                        line-height: 38px;
                        display: inline-block;
                        transition: all .4s;
                        background: var(--ztc-bg-bg-3);
                        color: var(--ztc-text-text-1);
                        font-family: var(--ztc-family-font1);
                        position: absolute;
                        right: 82px;
                        top: 50%;
                        margin-top: -94px;
                        z-index: 2;
                        clip-path: polygon(
                            50% 0%,
                            93% 25%,
                            93% 75%,
                            50% 100%,
                            7% 75%,
                            7% 25%
                        ); 
                    }
                }
            .content-p-area {
                background: var(--ztc-bg-bg-1);
                position: absolute;
                bottom: 20px;
                left: 0;
                padding: 24px 57px 24px 24px;
                clip-path: polygon(
                    0% 0%, 
                    90% 0%, 
                    100% 50%, 
                    90% 100%, 
                    0% 100%
                );
                span {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 16px;
                    display: inline-block;
                    transition: all .4s;
                }
                .title {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 28px;
                    display: inline-block;
                    transition: all .4s;
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }    
                }
            }
            }
        }
    }
}

// Inner Pages //
.project-inner-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .projects-boxes-area {
            position: relative;
            z-index: 1;
            margin-bottom: 30px;
            &:hover {
                .contain-main-area {
                    visibility: visible;
                    opacity: 1;
                    transition: all .6s;
                }
                .img1 {
                    img {
                        transform: scale(1.1) rotate(-4deg);
                        transition: all .4s;
                    }
                }
            }
            .img1 {
                position: relative;
                z-index: 1;
                overflow: hidden;
                border-radius: 8px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                    transition: all .4s;
                }
            }
            .contain-main-area {
                position: relative;
                z-index: 1;
                transition: all .6s;
                visibility: hidden;
                opacity: 0;
                .arrow {
                    a {
                        width: 38px;
                        height: 38px;
                        text-align: center;
                        line-height: 38px;
                        display: inline-block;
                        transition: all .4s;
                        background: var(--ztc-bg-bg-3);
                        color: var(--ztc-text-text-1);
                        font-family: var(--ztc-family-font1);
                        position: absolute;
                        right: 82px;
                        top: 50%;
                        margin-top: -94px;
                        z-index: 2;
                        clip-path: polygon(
                            50% 0%,
                            93% 25%,
                            93% 75%,
                            50% 100%,
                            7% 75%,
                            7% 25%
                        ); 
                    }
                }
            .content-p-area {
                background: var(--ztc-bg-bg-1);
                position: absolute;
                bottom: 20px;
                left: 0;
                padding: 24px 57px 24px 24px;
                clip-path: polygon(
                    0% 0%, 
                    90% 0%, 
                    100% 50%, 
                    90% 100%, 
                    0% 100%
                );
                span {
                    color: var(--ztc-text-text-4);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 16px;
                    display: inline-block;
                    transition: all .4s;
                }
                .title {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s24);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 28px;
                    display: inline-block;
                    transition: all .4s;
                    &:hover {
                        color: var(--ztc-text-text-4);
                        transition: all .4s;
                    }    
                }
            }
            }
        }
}

.project-main-details-area {
    position: relative;
    z-index: 1;
    .project-main-sidebar {
        position: sticky;
        top: 120px;
        transition: all .4s;
         h3 {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s20);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 20px;        
        }
        .search-area {
            border-radius: 8px;
            background: var(--ztc-bg-bg-4);
            padding: 24px 20px;
            form {
                position: relative;
                z-index: 1;
                input {
                    width: 100%;
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-regular);
                    line-height: 16px;
                    border-radius: 8px;
                    background: var(--ztc-bg-bg-1);
                    padding: 16px;
                    &::placeholder {
                        color: var(--ztc-text-text-2);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s16);
                        font-style: normal;
                        font-weight: var(--ztc-weight-regular);
                        line-height: 16px;
                        opacity: 70%;       
                    }
                }
                button {
                    border: none;
                    outline: none;
                    height: 52px;
                    width: 52px;
                    text-align: center;
                    line-height: 48px;
                    border-radius: 0 8px 8px 0;
                    background: var(--ztc-bg-bg-3);
                    transition: all .4s;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .categories-area {
            border-radius: 8px;
            background: var(--ztc-bg-bg-4);
            padding: 24px 20px;
            ul {
                li {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: var(--ztc-text-text-2);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s18);
                        font-style: normal;
                        font-weight: var(--ztc-weight-semibold);
                        line-height: 18px; 
                        border-radius: 8px;
                        background: var(--ztc-bg-bg-1);    
                        padding: 18px 20px;
                        transition: all .4s;
                        margin-top: 20px;
                        &:hover {
                            background: var(--ztc-bg-bg-3);
                            transition: all .4s;
                            color: var(--ztc-text-text-1);
                        }
                    }
                }
            }
        }

        .help-area {
            border-radius: 8px;
            background: var(--ztc-bg-bg-4);
            padding: 24px 20px;
            h3 {
                line-height: 28px;
            }
            .btn-area1 {
                a {
                    color: var(--ztc-text-text-1);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 16px;
                    border-radius: 8px;
                    background: var(--ztc-bg-bg-3);
                    padding: 18px 24px;    
                    display: inline-block;
                    transition: all .4s; 
                    &:hover {
                    background: var(--ztc-bg-bg-2);
                    transition: all .4s;
                    }
                }
            }
        }

        .contact-boxarea {
            border-radius: 8px;
            background: var(--ztc-bg-bg-4);
            padding: 24px 28px; 
            .input-area {
                margin-top: 16px;
                input {
                    width: 100%;
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 16px;
                    padding: 20px;
                    border-radius: 4px;
                    background: var(--ztc-bg-bg-1);
                    &::placeholder {
                        color: var(--ztc-text-text-3);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s16);
                        font-style: normal;
                        font-weight: var(--ztc-weight-medium);
                        line-height: 16px;
                    }              
                }

                textarea {
                    width: 100%;
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-medium);
                    line-height: 16px;
                    padding: 20px;
                    border-radius: 4px;
                    background: var(--ztc-bg-bg-1);
                    height: 120px;
                    &::placeholder {
                        color: var(--ztc-text-text-3);
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s16);
                        font-style: normal;
                        font-weight: var(--ztc-weight-medium);
                        line-height: 16px;
                    }              
                }
                button {
                    border: none;
                    outline: none;
                }
                }
        }
         .popular-tags {
                border-radius: 8px;
                background: var(--ztc-bg-bg-4);
                padding: 24px 20px;
                ul {
                    li {
                        display: inline-block;
                        a {
                            color: var(--ztc-text-text-2);
                            font-family: var(--ztc-family-font1);
                            font-size: var(--ztc-font-size-font-s16);
                            font-style: normal;
                            font-weight: var(--ztc-weight-medium);
                            line-height: 16px; 
                            display: inline-block;
                            transition: all .4s;
                            border-radius: 4px;
                            padding: 12px 16px;  
                            background: var(--ztc-bg-bg-1);
                            margin: 16px 6px 0 0;
                            &:hover {
                                background: var(--ztc-bg-bg-3);
                                transition: all .4s;
                                color: var(--ztc-text-text-1);
                                transition: all .4s;
                            }    
                        }
                    }
                }
            }
    }
    .project-main-widget-area {
        position: relative;
        top: 0;
         &.padding1 {
            padding: 0 0 0 50px;
            @media #{$xs} {
                padding: 0;
                margin-top: 30px;
            }
             @media #{$md} {
                padding: 0;
                margin-top: 30px;
            }
             @media #{$lg} {
                padding: 0;
                margin-top: 30px;
            }
        }
        &.padding2 {
            padding: 0 50px 0 0; 
            @media #{$xs} {
                padding: 0;
                margin-bottom: 30px;
            }
            @media #{$md} {
                padding: 0;
                margin-bottom: 30px;
            }
            @media #{$lg} {
                padding: 0;
                margin-bottom: 30px;
            }
        }
        .img1 {
            position: relative;
            z-index: 1;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
            .play-btn {
                .video{
                    height: 56px;
                    width: 56px;
                    text-align: center;
                    line-height: 56px;
                    border-radius: 50%;
                    display: inline-block;
                    transition: all .4s;
                    color: var(--ztc-text-text-4);
                    background: var(--ztc-bg-bg-1);
                    font-size: var(--ztc-font-size-font-s20);
                    position: absolute;
                    z-index: 1;
                    margin-top: -28px;
                    margin-left: -28px;
                    left: 50%;
                    top: 50%;
                    &::after {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 100%;
                        left: 28px;
                        top: 28px;
                        background: var(--ztc-bg-bg-1);
                        transition: all .4s;
                        border-radius: 50%;
                        z-index: -1;
                        animation: pulse-border 1500ms ease-out infinite;
                        opacity: 40%;
                    }
                }
            }
        }

        h3 {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s32);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 40px;        
        }

        .progress-bar-container {
            max-width: 100%;
                        .progress-item {
            margin-top: 20px;
            }

            .label {
            display: flex;
            justify-content: space-between;
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s18);
            font-style: normal;
            font-weight: var(--ztc-weight-bold);
            line-height: 18px; 
            margin-bottom: 16px;
            }

            .progress {
            background-color: var(--ztc-bg-bg-4);
            border-radius: 8px;
            height: 14px;
            overflow: hidden;
            }

            .bar.red {
            height: 14px;
            background-color: var(--ztc-bg-bg-3);
            border-radius: 8px;
            }
        }
        .details {
            ul {
                li {
                    color: var(--ztc-text-text-2);
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    font-style: normal;
                    font-weight: var(--ztc-weight-bold);
                    line-height: 16px;
                    padding-top: 20px;
                    &:nth-child(1) {
                        padding-top: 0;
                    }
                    img {
                        margin: 0 4px 0 0;

                    }
                }
            }
        }
        .pera {
            background: var(--ztc-bg-bg-4);
            padding: 30px;
            border-radius: 8px;
            position: relative;
            z-index: 1;
            &::after {
                position: absolute;
                content: "";
                height: 100%;
                width: 6px;
                background: var(--ztc-bg-bg-3);
                transition: all .4s;
                left: 0;
                top: 0;
            }
        }
    }
}
/*============= PROEJCTS CSS AREA ENDS ===============*/